body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    width: 100%;
}

.login-section,
.signup-section {
    padding: 40px;
    flex: 1;
}

h2,
h3 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
    color: #777;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.social-icon {
    margin: 0 10px;
    display: inline-block;
    width: 50px;
    height: 40px;
}

.social-icon img {
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    object-fit: cover; 
}


.divider {
    text-align: center;
    margin: 20px 0;
    position: relative;
}

.divider span {
    background-color: white;
    padding: 0 10px;
    color: #777;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%; /* Set the width to 100% of the parent element */
    padding: 15px;
    margin: 10px 0;
    border-radius: 25px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Ensure padding is included in the width */
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder {
    color: #999;
}

.btn-signin {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

.btn-signin:hover {
    background-color: #218838;
}

.signup-section {
    background-color: #0ACF83;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup-section h3 {
    margin-bottom: 10px;
}

.btn-signup {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: white;
    color: #0ACF83;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

.btn-signup:hover {
    background-color: #f0f0f0;
}